@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
// @import '../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css';
// @import '../../node_modules/@fortawesome/fontawesome-free/css/regular.css';

@import './parralax';
@import './pretty-buttons';
@import './tile';
@import './about-us';

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main-menu {
  &__element {
    color: #bcbbcb;
    margin: 5px;
    padding: 8px;

    &:hover {
      color: #fff;
    }

    &--active {
      border-bottom: 1px solid #fff;
      color: #fff;
    }
  }
}

.big-header {
  font-family: overpass;
  font-size: 5rem;
}

.content-wrapper {
  padding: 0 15vw;
}
