@import '../../node_modules/normalize.css/normalize.css';

.parallax-container {
  background-image: url(../assets/bg.jpg);
  background-color: #999;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -200px;
  min-height: 65vh;
}

.main-menu {
  &__element {
    margin: 5px;
    color: #bcbbcb;

    &:hover {
      color: white;
    }

    &--active {
      border-bottom: 1px solid white;
    }
  }
}
