@import '../../node_modules/normalize.css/normalize.css';

.parallax-container {
  background-blend-mode: multiply;
  background-color: #999;
  background-image: url('../assets/bg.jpg');
  background-position-y: -200px;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 65vh;
}

.main-menu {
  &__element {
    color: #bcbbcb;
    margin: 5px;

    &:hover {
      color: #fff;
    }

    &--active {
      border-bottom: 1px solid #fff;
    }
  }
}
